body {
  background-color: #f1f1f1;
}
.container {
  padding-left: 10px;
  padding-right: 10px;
  /* background-color: #ececec; */
}
#header {
  padding-left: 5%;
  padding-right: 5%;
  height: 60px;
  border-bottom: 1px solid #757575;
  margin-right: -50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f1f1f1;
}
#logo {
  float: right;
  width: 45px;
}
#logo img {
  max-width: 100%;
  border-radius: 50%;
  margin: 5px;
}
#logo h2 {
  display: inline-block;
}
.clear {
  clear: both;
}
.sidebar {
  width: 20%;
  height: 300px;
  border: 1px solid #757575;
  float: left;
  padding: 10px;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 25px;
  background-color: #fff;
  border-radius: 5%;
}
.recommended-article {
  font-family: arial;
}
.content {
  margin-top: 100px;
  margin-right: 50px;
  width: 67%;
  border: 1px solid #757575;
  border-radius: 2%;
  float: left;
  background-color: #fff;
}
.content h3 {
  font-family: arial;
  margin-left: 20px;
}
.blogcontent {
  display: inline-block;
}
.article {
  margin-left: 20px;
  margin-bottom: 20px;
  float: left;
  padding: 5px;
  width: 45%;
  height: 300px;
  border: 1px solid black;
  border-radius: 3%;
  background-color: #f1f1f1;
}
.article img {
  float: left;
  width: 35%;
  height: auto;
  max-width: 100%;
  margin: 7px;
  border-radius: 3%;
}
h3 p {
  display: inline-block;
}
h3 a {
  text-decoration: none;
}
.footer {
  border-top: 1px solid #757575;
  font-family: arial;
  height: 60px;
  margin-top: 50px;
}
.footer p {
  text-align: center;
  align-items: center;
}
.footer p a {
  text-decoration: none;
}

.menu-tab {
  width: 90px;
  height: 70px;
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
  /*end of div*/
}

.menu-tab div {
  width: 33px;
  height: 4px;
  background-color: #2d2d2d;
  display: block;
  margin: 5px 30px;
  transition: all 0.6s ease-in-out;
}
.menu-tab div:nth-child(1) {
  margin-top: 20px;
}
/*end of menu-tab*/

.menu-tab.active {
  left: 200px;
  transition: all 600ms ease-in-out;
  background-color: rgba(53, 51, 51, 0);
}
.menu-tab.active #one {
  transform: translateY(9px) rotate(-135deg);
  transition: all 0.6s ease-in-out;
  background-color: #e74c3c;
}
.menu-tab.active #two {
  opacity: 0;
  transition: 0.4s ease;
}
.menu-tab.active #three {
  transform: translateY(-9px) rotate(-45deg);
  transition: all 0.6s ease-in-out;
  background-color: #e74c3c;
}
.menu-hide {
  width: 200px;
  left: -300px;
  height: 100vh;
  position: fixed;
  z-index: 10;
  top: 0px;
  transition: all 0.6s ease-in-out;
  /*end of nav*/
}
.menu-hide nav ul li {
  font-family: arial;
  height: 60px;
  list-style-type: none;
  text-align: center;
  line-height: 60px;
  transition: all 0.5s ease;
}
.menu-hide nav ul li:hover {
  background-color: #dbdbdb;
  transition: all 0.5s ease;
}
.menu-hide nav ul li a {
  padding: 30px 25px;
  text-decoration: none;
  color: #555555;
  font-weight: 700;
}
/*end of menu-hide*/
.menu-hide.show {
  left: 0px;
  background-color: rgba(255, 255, 255, 0.993);
  transition: all 0.6s ease-in-out;
}

/* LAPTOP 13,5 <INCH */
@media (max-width: 1350px) {
  .sidebar {
    margin-left: 30px;
  }
  .content {
    margin-right: 30px;
    margin-top: 30px;
  }
  .article {
    margin-left: 15px;
    margin-bottom: 15px;
    float: left;
    padding: 5px;
  }
}

/* TABLET */
@media (max-width: 1024px) {
  .sidebar {
    margin-left: 25px;
    width: 25%;
  }
  .content {
    margin-right: 25px;
    width: 60%;
  }
  .article {
    width: 90%;
  }
}

/* HP */
@media (max-width: 767px) {
  #header {
    padding-left: 1%;
    padding-right: 1%;
  }
  .sidebar {
    margin-left: 5px;
    width: 90%;
  }
  .content {
    width: 97%;
  }
  .article {
    margin: 20px;
    padding: 3px;
    width: 90%;
    height: auto;
  }
}
